__pycache__/apiTest.cpython-39.pyc
__pycache__/addRemoveFrame.cpython-39.pyc
__pycache__/controller.cpython-39.pyc
__pycache__/model.cpython-39.pyc
__pycache__/stocksFrame.cpython-39.pyc
StocksApp/__pycache__
StocksApp/stocks.db
TestingStuff/twilio.env
kyleklenkSite/db.sqlite3
kyleklenkSite/kyleklenkSite/__pycache__/__init__.cpython-39.pyc
kyleklenkSite/kyleklenkSite/__pycache__/settings.cpython-39.pyc
kyleklenkSite/kyleklenkSite/__pycache__/urls.cpython-39.pyc
kyleklenkSite/kyleklenkSite/__pycache__/wsgi.cpython-39.pyc
kyleklenkSite/landingPage/__pycache__/__init__.cpython-39.pyc
kyleklenkSite/landingPage/__pycache__/admin.cpython-39.pyc
kyleklenkSite/landingPage/__pycache__/apps.cpython-39.pyc
kyleklenkSite/landingPage/__pycache__/models.cpython-39.pyc
kyleklenkSite/landingPage/__pycache__/urls.cpython-39.pyc
kyleklenkSite/landingPage/__pycache__/views.cpython-39.pyc
